* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  color: black;
  overflow-x: hidden;
}

@media print {
  body * {
    visibility: hidden;
  }

  #receipt-content,
  #receipt-content * {
    visibility: visible;
  }

  #receipt-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .print\\:hidden {
    display: none !important;
  }
}

.swal2-confirm {
  background-color: #3085d6 !important;
}